{% extends 'admin/master.html' %}

{% block body %}

     <form method="POST"    enctype="multipart/form-data">
            {{ form.hidden_tag() }}



            <div class="form-group">

{#            {% with messages = get_flashed_messages() %}#}
{#                  {% if messages %}#}
{#                    <ul>#}
{#                    {% for message in messages %}#}
{#                        <li>{{ message }} </li>#}
{#                    {% endfor %}#}
{#                    </ul>#}
{#                  {% endif %}#}
{#                {% endwith %}#}



            <br>
            {{ form.file.label }}
            {{ form.file() }}

              {% if form.file.errors %}
                {% for error in form.file.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
              {% endif %}

            <br>
            {{ form.type.label }}
            <br>
                {{ form.type() }}

                <br>
                <br>
            {{form.add_sequence.label }}
            {{ form.add_sequence }}
            <br>

                {{form.add_genome.label }}
                {{ form.add_genome }}




            <br>
            <br>
            {{ form.upload_submit(class="btn-primary") }}
            </div>
 </form>


{% endblock %}