{% extends 'admin/master.html' %}

<script type="text/javascript">// <![CDATA[
    $(document).on({
        ajaxStart: function() { $( ".loader" ).show();    },
    });

    // Hide the loading screen and clear the loading text
    function hideLoadingScreen(){
      $( ".loading" ).show();
      $(".loading").html("Cleaning sequences!");
}
// ]]></script>

{% block body %}

    <div id="loading"></div>

    <div id="content">


     <form method="POST"    enctype="multipart/form-data">
            {{ form.hidden_tag() }}



            <div class="form-group">

{#            {% with messages = get_flashed_messages() %}#}
{#                  {% if messages %}#}
{#                    <ul>#}
{#                    {% for message in messages %}#}
{#                        <li>{{ message }} </li>#}
{#                    {% endfor %}#}
{#                    </ul>#}
{#                  {% endif %}#}
{#                {% endwith %}#}



            <br>
            {{ form.file.label }}
            {{ form.file() }}

              {% if form.file.errors %}
                {% for error in form.file.errors %}
                  <p class="error-message">{{ error }}</p>
                {% endfor %}
              {% endif %}

            <br>

{#                {{ form.input_text.label }}#}
{#                {{ form.input_text() }}#}


            {{ form.type.label }}
            <br>
                {{ form.type() }}

                <br>
                <br>
            {{form.add_sequence.label }}
            {{ form.add_sequence }}
            <br>

                {{form.add_genome.label }}
                {{ form.add_genome }}
{#            <br>#}
{#                {{form.search_shotgun.label }}#}
{#                {{ form.search_shotgun }}#}
{##}



            <br>
                {{form.genome_type.label }}
                {{ form.genome_type }}


            <br>
            <br>
            {{ form.upload_submit(class="btn-primary") }}
            </div>
 </form>

</div>
{% endblock %}